@page "/browse"
@using ServerFolderWatch.Core.Model
@using ServerFolderWatch.Server.PageModels
@inject NavigationManager NavigationManager
@inject BrowsePageModel Model;

<div id="browser">
    <ul>
        @if (Model.CanGoToParent())
        {
            <li>
                <a href="@Model.GetParentUrl()">
                    <span><em class="icon">⇧</em> .. </span>
                </a>
            </li>
        }
        @foreach (var child in diffEntries)
        {
            <li class="@Model.GetClassName(child.Item2)">
                @if (child.Item1 is Folder folder)
                {
                    <a href="/browse?folder=@Model.GetChildPath(folder)">
                        <span><em class="icon">🗀</em> @child.Item1.Name</span>
                    </a>
                }
                else
                {
                    <span><em class="icon">🗎</em> @child.Item1.Name</span>
                }
            </li>
        }
    </ul>
</div>

@code {
    private IList<(BaseEntry, DiffOperation)>? diffEntries;
    
    [SupplyParameterFromQuery]
    public string? Folder { get; set; }

    protected override void OnParametersSet()
    {
        base.OnParametersSet();

        if (Folder == string.Empty)
            NavigationManager.NavigateTo("/browse", replace: true);
        
        Model.LoadFolder(Folder);
        diffEntries = Model.GetDiffEntries();
    }

}
