body {
    margin: 0;
    padding: 0;
    background-color: #121212;
    color: #CCC;
    font-family: monospace, 'Roboto', sans-serif;
}

#browser ul {
    padding: 0;
    margin: 0;
    
    a, a:visited {
        color: #EEE;
        text-decoration: none;
        font-weight: bold;
    }
    
    li {
        list-style: none;
        
        a {
            padding: 0.5em 1em;
            display: block;
            opacity: 0.85;
        }
        
        a:hover {
            opacity: 1;
        }
        
        strong {
            display: inline-block;
        }
        strong:before {
            color: white;;
            content: '@v';
            margin-left: 0.5em;
        }
    }
    li:hover {
        background-color: RGBA(255,255,255,0.1);
        
        em {
            transform: scale(1.25);
            transition: all 0.2s ease-in-out;
        }
    }
    
    em.icon {
        text-align: center;
        font-style: normal;
        display: inline-block;
        width: 2em;
    }
    
    li.diff-added,
    li.diff-added a {
        color: #3bd83b !important;
    }
    li.diff-removed,
    li.diff-removed a {
        color: #ec173e !important;
    }
    li.diff-modified,
    li.diff-modified a {
        color: #dfcc00 !important;
    }
}

.error-page {
    margin: 0;
    background-color: blue;
    color: #FFF;
    height: 90vh;
    padding: 5vh;
    
    p { margin: 0; }
    
    p.heading {
        text-transform: uppercase;
        font-weight: bold;
        margin-bottom: 1em;
    }
}