body {
    margin: 0;
    padding: 0;
    background-color: #121212;
    color: #CCC;
    font-family: monospace, 'Roboto', sans-serif;
}

#browser ul {
    padding: 0;
    margin: 0;
    
    a, a:visited {
        color: #EEE;
        text-decoration: none;
        font-weight: bold;
    }
    
    li {
        list-style: none;
        
        span {
            padding: 0.5em 1em;
            display: block;
            opacity: 0.85;
        }
        
        a:hover span {
            opacity: 1;
        }
    }
    li:hover {
        background-color: RGBA(255,255,255,0.1);
        
        em {
            transform: scale(1.25);
            transition: all 0.2s ease-in-out;
        }
    }
    
    em.icon {
        text-align: center;
        font-style: normal;
        display: inline-block;
        width: 2em;
    }
    
    /* TODO fixup CSS so we don't need the explicit 'a' targeting */
    li.diff-added,
    li.diff-added a {
        color: #3bd83b !important;
    }
    li.diff-removed,
    li.diff-removed a {
        color: #ec173e !important;
    }
    li.diff-modified,
    li.diff-modified a {
        color: #dfcc00 !important;
    }
}
