<ErrorBoundary>
    <ChildContent>
        <Router AppAssembly="typeof(Program).Assembly">
            <Found Context="routeData"><RouteView RouteData="routeData" /></Found>
        </Router>
    </ChildContent>
    <ErrorContent>
        <main class="error-page">
            <p class="heading">Something went wrong</p>
            <p>The requested page could not be displayed or found.</p>
        </main>
    </ErrorContent>
</ErrorBoundary>
