@page "/browse"
@using System.IO
@using ServerFolderWatch.Core
@using ServerFolderWatch.Core.Model
@inject IConfiguration Configuration
@inject IBrowseService BrowseService
@inject NavigationManager NavigationManager

<!--
<h1>Browse</h1>
<p>Clicks: @clicks</p>
<button @onclick="Increment">Increment</button>
-->

<ul>
    @if (BrowseService.CanGoToParent(Folder ?? string.Empty))
    {
        <li>
            <a href="/browse/?folder=@GetParentPath()">👆 ..</a>
        </li>
    }
    @foreach (var child in children)
    {
        <li>
            @if (child is Folder)
            {
                <a href="/browse?folder=@GetChildPath(child)">
                    @child.Name
                </a>
            }
            else
            {
                @child.Name
            }
        </li>
    }
</ul>

@code {
    private List<BaseEntry> children;
    
    [SupplyParameterFromQuery]
    public string? Folder { get; set; }

    string GetChildPath(BaseEntry entry)
    {
        return (string.IsNullOrWhiteSpace(Folder)
            ? string.Empty
            : $"{Folder}/") + entry.Name;
    }

    string GetParentPath()
    {
        if (string.IsNullOrWhiteSpace(Folder) || !Folder.Contains('/'))
            return string.Empty;
        
        return Folder?[..Folder.IndexOf('/')] ?? "/";
    }

    protected override void OnParametersSet()
    {
        base.OnParametersSet();
        
        if (Folder == string.Empty)
            NavigationManager.NavigateTo("/browse");

        var basePath = Path.Combine(Configuration.RootPublicPath, Folder ?? string.Empty);
        var contents = BrowseService.ListContents(basePath);
        children = contents.GetAllEntries().ToList();
    }

}
